<% layout('layouts/boilerplate.ejs') %>

<div class="flex justify-center flex-col align-middle">
  <h1 class="mx-auto">Current Mode: <%= parseInt(mode) + 1 %></h1>
  <form method="POST" class="mx-auto" action="/setmode/0">
    <button type="submit" class="my-2">Mode: 1</button>
  </form>
  <form method="POST" class="mx-auto" action="/setmode/1">
    <button type="submit" class="my-2">Mode: 2</button>
  </form>
  <form method="POST" class="mx-auto" action="/setmode/2">
    <button type="submit" class="my-2">Mode: 3</button>
  </form>
</div>
